//Company branding
$brand-primary: ;
$brand-secondary: ;
$link:;
$hover:;

//Viewport sizes
$max-width: 1440px;
$gutter: 20px;

$xsmlmobile: 321px;//321px accomodates iphone 4 of 320px portrait
$smlmobile: 640px;
$mobile: 768px;
$interim: 769px;
$desktop: 1024px;
$lrgdesktop: 1440px;
